body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333; /* Dark grey background color */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-content img {
    max-height: 40px;
}

.company-info {
    flex: 1; /* Takes up available space on the left */
    text-align: left;
}

    .company-info p {
        font-size: 18px;
        font-weight: bold;
    }

.header-content img {
    max-height: 40px;
    flex: 1; /* Takes up available space on the right */
}


.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        font-size: 18px;
        font-weight: bold;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

        /* Italics for placeholder texts */
        .form-group input::placeholder {
            font-style: italic;
        }

.checkbox {
    display: flex;
}

    .checkbox input[type="radio"] {
        margin-right: 5px;
    }

/* Match the "Post" button color to the header */
.post-button {
    background-color: #333; /* Same color as the header */
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .post-button:hover {
        background-color: #006666;
    }
